@import url(all.min.css);
@import url(bootstrap.min.css);

*, *::before, *::after{
	box-sizing: border-box;
}

.footer_section{
	background-color: #00838f;
}
.footer_bottom{
	background-color: #006972;
	padding: 25px;
}

.btn {
	background-color: #00838f;
	border: none;
	color: white;
	padding: 12px 16px;
	font-size: 16px;
	cursor: pointer;
  }
  
  /* Darker background on mouse-over */
  .btn:hover {
	background-color: #00838f;
  }