@import url(all.min.css);
@import url(bootstrap.min.css);

*, *::before, *::after{
	box-sizing: border-box;
}

.footer_section{
	background-color: #263238;
}
.footer_bottom{
	background-color: #1e282d;
	padding: 25px;
}

.btn {
	background-color: #00838f;
	border: none;
	color: white;
	padding: 12px 16px;
	font-size: 16px;
	cursor: pointer;
  }
  .extra{
	  width: 70px;
	  height: 70px;
	  color: #3b5998;
	  border-radius: 50%;
	  padding: 0px;
  }
  /* Darker background on mouse-over */
  .btn:hover {
	background-color: #00838f;
  }
  .btn .rounded-circle .fab fa-facebook-f .fa-3x{
	  background-color: #3b5998;
  }