@import url(all.min.css);
@import url(bootstrap.min.css);

*, *::before, *::after{
	box-sizing: border-box;
}

.footer_section{
	background-color: #2295f2;
}

.footer_bottom{
	background-color: #1a78c2;
	padding: 25px;
}