@import url(all.min.css);
@import url(bootstrap.min.css);

*, *::before, *::after{
	box-sizing: border-box;
}

.footer_section{
	background-color: #009688;
}
.footer_bottom{
	background-color: #00786d;
	padding: 25px;
}