@import url(all.min.css);
@import url(bootstrap.min.css);

*, *::before, *::after{
	box-sizing: border-box;
}

.footer_section{
	background-color: #263238;
}
.col-md-6 > button{
	background-color: #263238;
}
.footer_bottom{
	background-color: #1e282d;
	padding: 25px;
}

