@import url(all.min.css);
@import url(bootstrap.min.css);

*, *::before, *::after{
	box-sizing: border-box;
}

.footer_section{
	background-color: #21d192;
}
.footer_section2{
	background-color: #eceff1;
}
.footer_bottom{
	background-color: #bdbfc1;
	padding: 25px;
}
.social-style{
	padding-left: 250px;
}

