@import url(all.min.css);
@import url(bootstrap.min.css);

*, *::before, *::after{
	box-sizing: border-box;
}

.footer_section{
	background-color: #1c2a48;
	
}
.footer_bottom{
	background-color: #16223a;
	padding: 25px;
}

