@import url(all.min.css);
@import url(bootstrap.min.css);

*, *::before, *::after{
	box-sizing: border-box;
}

.footer_section{
	background-color: #3f51b5;
}
.footer_bottom{
	background-color: #324191;
	padding: 25px;
}