@import url(all.min.css);
@import url(bootstrap.min.css);

*, *::before, *::after{
	box-sizing: border-box;
}

.footer_section{
	background-color: #929fba;
}

.footer_bottom{
	background-color: #757f95;
	padding: 25px;
}

