@import url(all.min.css);
@import url(bootstrap.min.css);

*, *::before, *::after{
	box-sizing: border-box;
}

.footer_section{
	background-color: #3e4551;
}
.footer_section2{
	background-color: #3e4551
}
.footer_section3{
	background-color: #3e4551
}
.footer_bottom{
	background-color: #323741;
	padding: 25px;
}

.footer_section2 .btn .rounded{
	background-color: #ff3547;
	border: none;
	color: white;
	padding: 12px 16px;
	font-size: 16px;
	cursor: pointer;
  }
  
  /* Darker background on mouse-over */
  .btn:hover {
	background-color: #00838f;
  }