@import url(all.min.css);
@import url(bootstrap.min.css);

*, *::before, *::after{
	box-sizing: border-box;
}

.footer_section{
	background-color: #6351ce;
}
.footer_section2{
	background-color: #1c2331;
}
.footer_bottom{
	background-color: #161c27;
	padding: 25px;
}

.social-style{
	padding-left: 250px;
}